@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

body {
  min-height: 100vh;
  background: url("https://wallpapershome.ru/images/wallpapers/apple-pro-display-xdr-3840x2160-22415.jpg") no-repeat
    center center;
  background-size: cover;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #1b1a19;
}

.m-taxi {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  z-index: 99;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.5);
  }
  &__content {
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    max-width: 1170px;
    background: #ffffff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
  }
  &__left {
    display: block;
    flex: 1 1 753px;
    padding: 40px 96px 40px 96px;
  }
  &__right {
    display: block;
    flex: 1 1 386px;
    padding: 46px 40px 40px 40px;
    border-left: 1px solid #e0e0e0;
  }
  &__title {
    display: block;
    margin: 0 0 36px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #323745;
  }
  &__subtitle {
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #323745;
    &_green {
      color: #5d9822;
    }
  }
  ::placeholder {
    color: #323745;
  }
  &__input {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 17px 15px;
    border: 1px solid #bcbcbc;
    outline: none;
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    &_wrap {
      display: block;
      width: 100%;
      position: relative;
      input {
        padding-right: 130px;
      }
    }
    &_small {
      margin-bottom: 10px;
      padding: 12px 6px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
    }
    &-link {
      display: block;
      position: absolute;
      top: 18px;
      right: 15px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #9b9b9b;
      z-index: 1;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
    color: #323745;
    transition: all 0.2s ease-out;
    &:focus {
      border-color: #5d9822;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    .m-taxi__input {
      max-width: 185px;
    }
    .m-taxi__select {
      max-width: 185px;
    }
  }
  &__roww {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    .m-taxi__input_long {
      max-width: 380px;
    }
    .m-taxi__input_short {
      max-width: 185px;
    }
  }
  &__select {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 20px 0;
    svg,
    img {
      display: block;
      position: absolute;
      top: 50%;
      right: 15px;
      max-width: 10px;
      max-height: 10px;
      margin-top: -3px;
    }
    select {
      width: 100%;
      margin: 0;
      padding: 17px 15px;
      border: 1px solid #bcbcbc;
      outline: none;
      border-radius: 6px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #323745;
      appearance: none;
      b,
      strong,
      span {
        color: #5d9822;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
  &__add {
    display: block;
    margin: 7px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #9b9b9b;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: relative;
    min-height: 145px;
    margin: 0;
    padding: 0 0 15px 0;
    &-price {
      display: block;
      position: relative;
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      color: #323745;
    }
    &-text {
      display: block;
      position: relative;
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #323745;
    }
    &-info {
      display: block;
      position: relative;
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      color: #9b9b9b;
    }
    &-bold {
      display: block;
      position: relative;
      width: 100%;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #4a4a4a;
    }
  }
  &__button {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 13px 6px;
    border: 0;
    outline: none;
    background: #5d9822;
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    text-align: center;
    &_disabled {
      filter: grayscale(1);
      opacity: 0.3;
      cursor: default;
      pointer-events: none;
    }
    &_small {
      margin-bottom: 10px;
      padding: 12px 8px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__cancel {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 13px 6px;
    border: 1px solid #9b9b9b;
    outline: none;
    background: #ffffff;
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #4a4a4a;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__subinfo {
    display: block;
    position: relative;
    width: 100%;
    margin: 10px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #4a4a4a;
  }
  &__policy {
    display: block;
    position: relative;
    width: 100%;
    margin: 10px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #9b9b9b;
  }
  &__main {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #323745;
    b,
    strong {
      font-weight: bold;
    }
    ol {
      display: block;
      margin: 0;
      padding: 5px 0 0 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: #323745;
    }
  }
  &__more {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #323745;
    p {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
    }
  }
  &-wrap {
    position: relative;
    &_checked {
      &:after {
        display: block;
        position: absolute;
        content: '';
        top: 19px;
        right: 16px;
        width: 16px;
        height: 12px;
        background: url('../images/icon_good.png') no-repeat center center;
        background-size: contain;
        z-index: 1;
      }
    }
  }
  &-check {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: -25px;
    padding: 15px 13px 13px 13px;
    background: #ffffff;
    border-top: 1px solid #bcbcbc;
    box-shadow: 0px 34px 34px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 6px 6px;
    z-index: 3;
    &__title {
      display: block;
      margin: 0 0 15px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: #323745;
      text-align: center;
    }
    &__text {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #4a4a4a;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        color: #4a4a4a;
        text-decoration: none;
      }
    }
    &__button {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 13px 6px;
      border: 0;
      outline: none;
      background: #5d9822;
      border-radius: 6px;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
      text-align: center;
      &_disabled {
        filter: grayscale(1);
        opacity: 0.3;
        cursor: default;
        pointer-events: none;
      }
      &_small {
        margin-bottom: 10px;
        padding: 12px 8px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 1199px) {
  .m-taxi__centered {
    padding: 20px;
  }
  .m-taxi__content {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    max-width: 755px;
  }
  .m-taxi__left {
    flex: 0 0 auto;
    width: 100%;
  }
  .m-taxi__right {
    flex: 0 0 auto;
    padding: 30px 96px 40px 96px;
    width: 100%;
    border-left: 0;
    border-top: 1px solid #e0e0e0;
  }
  .m-taxi__info {
    min-height: 98px;
  }
  .m-taxi__policy {
    font-size: 12px;
    line-height: 14px;
  }
  .m-taxi__main {
    max-width: 275px;
  }
  .m-taxi__more {
    max-width: 275px;
  }
  .m-taxi__cancel {
    max-width: 275px;
  }
}

@media (max-width: 768px) {
  .m-taxi__left {
    padding: 20px;
  }
  .m-taxi__right {
    padding: 20px;
  }
  .m-taxi__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
  }
  .m-taxi__subtitle {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 23px;
  }
  .m-taxi__row {
    flex-flow: column nowrap;
  }
  .m-taxi__row .m-taxi__input {
    max-width: 100%;
  }
  .m-taxi__row .m-taxi__select {
    max-width: 100%;
  }
  .m-taxi__input {
    margin-bottom: 10px;
    padding: 12px 15px;
    font-size: 14px;
    line-height: 16px;
  }
  .m-taxi__select {
    margin-bottom: 10px;
  }
  .m-taxi__select select {
    padding: 12px 15px;
    font-size: 14px;
    line-height: 16px;
  }
  .m-taxi__input-link {
    position: relative;
    top: auto;
    left: auto;
    margin: 0 0 10px 20px;
    &:before {
      content: "+ ";
    }
  }
  .m-taxi__add {
    margin: 0;
  }
  .m-taxi__info {
    min-height: 82px;
  }
  .m-taxi__info-price {
    margin: 0;
  }
  .m-taxi__info-info {
    margin: 0;
  }
  .m-taxi__info-text {
    margin: 0;
  }
  .m-taxi__main {
    max-width: 100%;
  }
  .m-taxi__more {
    max-width: 100%;
  }
  .m-taxi__cancel {
    max-width: 100%;
  }
}
